/*reuseables*/
:root{
    --secondary-color: #444;
      --primary-Color: #333;
      --overlay-color: rgba(0, 0, 0, 0.6);
  }

*{
    box-sizing: border-box;
       padding: 0;
        margin: 0; 
 }
/***************/

body{
    font-family: 'Catamaran', 'sans-serif';
    line-height: 1.6;
      font-size: 1.1rem;
          color: #333;   
 }

h1, h2, h3, h4{
    line-height: 1.3rem;
 }

a {
    text-decoration: none;
              color: var(--secondary-color);
    
 }

ul{
    list-style: none;
 }

img{
    max-width: 100%;
 }

.container {
    max-width: 1100px;
     overflow: hidden;
      padding: 0 2em;
       margin: auto;
 }

.navbar{
    font-size: 1.2rem;
      padding: 01.3rem;
 }

.navbar .container{
    grid-template-columns: repeat(2, 1fr);
                  display: grid; 
 }

.navbar .logo{
    font-size: 30px;
 }

.navbar .nav{
    justify-content: center;
       justify-self: end;
        align-items: center;
            display: flex;
 }

.navbar .nav a{
    padding: 0 5px;
}

.navbar .nav a:hover{
    color: blue;
}

/*section A */

.section-a{
    margin: 1rem 0;
 }

.section-a .container {
    grid-template-columns: repeat(2, 1fr);
          justify-content: center;
              align-items: center;
                 grid-gap: 3rem;
                  display: grid;
 }

.section-a h1{
     line-height: 80px;
       font-size: 4rem;
           color: var(--primary-Color);   
 }

.section-a p {
    margin: 1rem 0;
 }

/*section B*/

.section-b{
    background: url('../img/image5.jpeg') no-repeat bottom center/cover;
      position: relative;
        height: 600px;
 }

.section-b-inner{
    justify-content: center;
     flex-direction: column;
        line-height: 30px;
        align-items: center;
         text-align: center;
          max-width: 860px;
            display: flex;
            padding: 20px;
             height: 100%;
             margin: auto;
              color: white;
 }

.section-b-inner h3{
    font-size: 2.5em;
 }

.section-b-inner h2{
    margin-top: 1.5em;
     font-size: 1.8em;    
 }

.section-b-inner p{
    font-size: 20px;
       margin: 20px;
 }

/*section C*/

.section-c .gallery { 
    grid-template-columns: repeat(5, 1fr);
                  display: grid; 
                    
 }

.section-c .gallery a:first-child{
    grid-column: 1/3;
       grid-row: 1/3;
 }

.section-c .gallery a:nth-child(7){
    grid-column: 5/6;
       grid-row: 1/2;
 }

.section-c .gallery img {
    height: 100%;
     width: 100%;
 }

.gallery{
    transition: 1s;
      grid-gap: 0.2rem;
       padding: 0 0.2rem;
        height: 100%;
        width: 96%;
        margin:auto;
 }

 .gallery img:hover{
     transform: scale(1.2);
        filter: grayscale(100%); 
   }
  


/*footer*/

.section-footer{
    padding-bottom: 0;
     margin-bottom: 0;
        margin-top: 0.3rem;
        background: var(--primary-Color);
             color: #fff;          
 }

.section-footer .container{
    grid-template-columns: repeat(4, 1fr);
               background: var(--primary-Color);
                 grid-gap: 1.5rem;
                  display: grid;
 }

.section-footer a{
    color: #fff;
 }

.section-footer a:hover{
    color: rgb(221, 140, 48);
 }

.section-footer a > i{
    margin-left: 1.5rem;
          color: rgb(153, 139, 139);  
 }

.section-footer a > i:hover{
    color: rgb(66, 161, 224);
 }

/*Email form */

.email-form {
    background-color:#555;
       border-radius: 20px;
         line-height: 0%;
          margin-top: 10px;
            position: relative;
             display: inline-block;
               width: 100%;
 }
 
.email-form .form-control{
    background-color: transparent ;
       border-radius: 20px;
         font-family: inherit;
           font-size: 20px;
             padding: 7px;
             display: inline-block;
             outline: 0;   
              height: 45px;  
              border: 0;
              margin: 0;    
               width: 100%;    
               color: #ddd;    
 }

.form-control-submit{
    background-color: #fff;
       border-radius: 0 20px 20px 0;
          text-align: center;
           font-size: 14px;
            position: absolute;
             padding: 0;
             outline: 0;   
              height: 45px;   
              cursor: pointer;   
              margin: 0;    
              border: 0;   
               width: 45px; 
               color: #333;   
               right: 0;
                 top: 0;
 }

/*utilities*/

.btn {
    border-radius: 20%;
       background: var(--primary-Color);
        font-size: 14px;
          padding: 5px 20px;
          display: inline-block;
           border: none;
           cursor: pointer;
            color: rgb(203, 241, 241);   
 }

 .btn:hover{
     color: red;
 }

.overlay{
    background-color: var(--overlay-color);
            position: absolute;
              height: 100%;
               width: 100%;
                left: 0;
                 top: 0;  
 }

/*media Query*/

@media (max-width: 700px){

    /*mediaQ section A*/

 .section-a h1{
     line-height: normal;
       font-size: 1.8rem;    
   }

 .section-a .container{
     grid-template-columns: 1fr ;
                text-align: center;
 }

 .section-a .container div:first-child{
     order: 2;
  } 

 .section-a .container div:last-child{
     order: -1;
  }

/*mediaQ section B*/

 .section-b .container{
     grid-template-columns: 1fr ;
                text-align: center;
                   padding: 1em;
  }

 .section-b .section-b-inner{
     grid-template-columns: 1fr ;
                text-align: center; 
  }
 
 .section-b-inner h3{
  line-height: 1em;
   text-align: center; 
    font-size: 2em;
       margin: 0.5em;  
 }

 .section-b-inner h2{
    line-height: 1em;
     text-align: center; 
      font-size: 1.5em; 
         margin: 0.5em;   
 }

/*mediaQ section C*/
 
 .section-c .gallery img {
    padding: 0 0.3rem;
     height: auto;
     margin: 0.2rem;
      width: 100%;
  }

 .gallery{
                margin-bottom: 0;
                   transition: 1s;
                     grid-gap: 0.2rem;
                      padding: 0.2rem;            
                       height: 100%;
                        width: 100%;                               
  }

  .section-c .gallery { 
    display: contents;
 }

  .gallery img:hover{
      transform: scale(1.1);
         filter: grayscale(100%);
    
   }
   
   /*MediaQ footer*/

 .section-footer .container{
    grid-template-columns: inherit;
           padding-bottom: 0.5em;
            margin-bottom: 0;
               text-align: center;
                 grid-gap: 0.1em;                   
  }

 .section-footer .container div:nth-child(2),
 .section-footer .container div:nth-child(3){
     display: none;
  }
  .email-form .form-control{
    background-color: transparent ;
       border-radius: 20px;
         font-family: inherit;
           font-size: 20px;
             padding: 7px;
             display: inline-block;
             outline: 0;   
              height: 2.3em;  
              border: 0;
              margin: 0;    
               width: 50%;    
               color: #ddd;    
 }
}
